* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --_typography---body--l--font-family: Swizzy, Arial, sans-serif;
  --_typography---body--l--font-size: min(40px, max(20px, calc(20px + 20 * ((min(100vw, 100vh * (16 / 9)) - 320px) / 1600))));
  --_typography---body--l--line-height: 100%;
  --_typography---body--l--font-weight: 500;
  --_typography---body--l--letter-spacing: -.02em;
  --_typography---body--m--font-family: Swizzy, Arial, sans-serif;
  --_typography---body--m--font-size: min(32px, max(16px, calc(16px + 16 * ((min(100vw, 100vh * (16 / 9)) - 320px) / 1600))));
  --_typography---body--m--line-height: 100%;
  --_typography---body--m--font-weight: 500;
  --_typography---body--m--letter-spacing: -.02em;
  --_typography---body--s--font-family: Swizzy, Arial, sans-serif;
  --_typography---body--s--font-size: min(24px, max(13px, calc(13px + 11 * ((min(100vw, 100vh * (16 / 9)) - 320px) / 1600))));
  --_typography---body--s--line-height: 110%;
  --_typography---body--s--font-weight: 500;
  --_typography---body--s--letter-spacing: -.02em;
}

body {
  background: #f9f9fb;
  color: #0c0c0d;
  font-family: Swizzy, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}

